@import "_variables";

#header {
  background-color: rgb(216 228 216);
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 100%;
  height: 125px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  @media only screen and (min-width: 480px) {
    height: 300px;
  }
}

.skinny {
  height: 32px !important;
  position: relative !important;
}

.titleBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.headerWithBg {

  background-image: url("/assets/header.png");
  background-position: top 0px right 0px;
  background-repeat: no-repeat;
  background-size: contain;
}

h1 {
  font-size: 3em;
  font-weight: bold;
  z-index: 999;
  position: relative;
  width: 70%;
}

h3 {
  color: grey;
}

button {
  margin-top: -20px;
  margin-left: -20px;
}

.plantIcon {
  position: absolute;
  z-index: 800;
  top: -40px;
  right: -40px;
  padding: 0;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}