@import "_variables";





html, body { height: 100%; max-width: 100%; max-height: 100%; }

body {
  overflow-x: hidden;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: $baseFontSize;

}

// ##### Overrides ######


.panel .mat-expansion-panel-body{
  padding: 0 !important;
}

.journalPaginator .mat-mdc-paginator-outer-container .mat-mdc-paginator-container {
  justify-content: center !important;
}