
.show {
  display: block;
}

.hide {
  display: none;
}

.video-container {
  text-align: center;
  video, canvas {
    width: 100%;
    aspect-ratio: 16 / 9;
    @media screen and (orientation:portrait) {
      aspect-ratio: 9 / 16;
    }

    height: auto;
  }

}