@import "_variables";

.container {
  margin: 20px;
}

.embeddedContainer {
  margin: 20px;
  padding: calc($vertical-space-header + 20px) 20px $vertical-space-nav-bar 20px;
}

h3 {
  font-weight: bold;
}