<app-header
  [showBackBtn]="true"
  [text]="plant.name"
  [subtext]="sheet.otherNames"
  [imageAsIcon]="sheet.photoURL"
></app-header>
<div class="buttons">
  <button>
    <mat-icon>create</mat-icon>
  </button>
</div>
<mat-tab-group (selectedIndexChange)="onTabChange($event)">
  <mat-tab label="Cuidados">
    <app-action-buttons [plant]="plant"></app-action-buttons>
    <app-care-instructions [plant]="plant" [sheet]="sheet"></app-care-instructions>
  </mat-tab>
  <mat-tab label="Diario">
    <app-journal [journal]="journal" [plant]="plant" (refreshJournal)="refresh()"></app-journal>
  </mat-tab>
  <mat-tab label="Fotos">
    <app-photos></app-photos>
  </mat-tab>
</mat-tab-group>