@import "_variables";


.formContainer{
  margin: auto;
  width: 80%;

  overflow-y: auto;
  padding: calc($vertical-space-header + 20px) 20px $vertical-space-nav-bar 20px;
}

mat-form-field {
  width: 100%;
}

.buttonRow {
  text-align: center;
}
