<app-header
  [showBackBtn]="true"
  screenTitle="Anadir entrada en diario"
  [skinny]="true"
></app-header>

<div class="action">
  <img src="/assets/water.png" alt="">
  <div class="text">
    <strong>{{ type | translateJournalType | capitalizeFirst }}</strong>
    {{ plant.name }}
  </div>
</div>

<form [formGroup]="journalForm" (submit)="addJournal()">
  <p>
    <mat-form-field appearance="outline">
      <mat-label>Fecha</mat-label>
      <input matInput [matDatepicker]="picker"  formControlName="date" required>
      <mat-hint>DD/MM/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <!-- <mat-error *ngIf="contactForm.invalid">{{getErrorMessage()}}</mat-error> -->
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="outline">
      <mat-label>Descripción</mat-label>
      <input type="text" matInput formControlName="text" required>
      <!-- <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error> -->
    </mat-form-field>
  </p>
  <p class="buttons">
    <button mat-raised-button (click)="goBack()">Cancelar</button>
    <button *ngIf="!isEdit" mat-raised-button color="primary" [disabled]="!journalForm.valid">Añadir entrada</button>
    <button *ngIf="isEdit" mat-raised-button color="primary" [disabled]="!journalForm.valid">Salvar cambios</button>
  </p>
</form>
