<div class="container">
  <img [src]="plant.sheet?.photoURL" (click)="onClick(plant.id)" />
  <div class="info" (click)="onClick(plant.id)">
    <h3>{{ plant.name }}</h3>
    <p>{{ (plant.lastJournal?.text || 'No hay datos del último riego') | capitalizeFirst }}</p>
  </div>
  <div class="buttons">
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>edit</mat-icon>
        <span>Editar</span>
      </button>
      <button mat-menu-item>
        <mat-icon>delete</mat-icon>
        <span>Borrar</span>
      </button>
    </mat-menu>
  </div>
</div>