<div class="container">
  <img [src]="plant.sheet?.photoURL" (click)="onClick(plant.id)" />
  <div class="info" (click)="onClick(plant.id)">
    <h3>{{ plant.name | capitalizeFirst }}</h3>
    <p class="location">{{ (plant.place || 'No hay datos del último riego') | capitalizeFirst }}</p>
    <p class="lastJournal">{{ (plant.lastJournal?.text || 'No hay datos del último riego') | capitalizeFirst }}</p>
  </div>
  <div class="buttons">
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>edit</mat-icon>
        <span>Editar</span>
      </button>
      <button mat-menu-item (click)="onDelete(plant.id)">
        <mat-icon>delete</mat-icon>
        <span>Borrar</span>
      </button>
    </mat-menu>
  </div>
</div>