@import "_variables";

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 10px;

  button {
    border: 1px solid green;
    color: green;
    background-color: white;
    width: 100px;
    height: 40px;
    border-radius: 10px;

    &:hover {
      color: white;
      background-color: green;
    }


  }
}

.container {
  overflow-y: auto;
  padding: $vertical-space-header 0 $vertical-space-nav-bar 0;
}